<div class="about-section">
    <h1>About Us </h1>
    <p>We provide Courses to expand your skills.</p>
    <p>Skills for your present (and your future). Get started with us.
  Choose from 183,000 online video courses with new additions published every month</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img ng-src="shalini.jpg" alt="Shalini" style="width:100%">
        <div class="container">
          <h2>Shalini Shree</h2>
          <p class="title">Courses Managing</p>
          <p>UI creator & Database manager</p>
          <p>shalini@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="voora.jpg" alt="Voora" style="width:100%">
        <div class="container">
          <h2>Voora Yugandhar</h2>
          <p class="title">Payment Managing</p>
          <p>UI creator & Database manager </p>
          <p>voora@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="prahbas.jpg" alt="Prabhas" style="width:100%">
        <div class="container">
          <h2>Sunku Ranga Prabhas</h2>
          <p class="title">Enrolling Manager</p>
          <p> UI creator & Database manager.</p>
          <p> Prabhas@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    
  </div>
  
