 <div class="main">
    
      
    
  
    <div class="content">
        <!--<h1>Broad Selection of<br><span>Courses</span></h1>
        <p class="par">Skills for your present (and your future). Get started with us.<br>Choose from 183,000 online video courses with new additions published every month
        </p>-->
        <div class = "container">
        <router-outlet></router-outlet>
      </div>  
  
       
        
    </div>
  </div>
  
  
 
  
  
  
  
  <footer class="footer">
    <div class = "container">
        <span>All rights reserved to @Shalini Shree</span>
    </div>
  </footer>