<h2>Course Details</h2>
<!--<a routerLink="payment" rounterLinkActive="active" class="nav-link">Payment</a>-->
    
    <table style="width:50%">
      <tr>
        <th>Java</th>
        <td>6 Months</td>
        <td>Rs.10000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
      </tr>
      <tr>
        <th>Python</th>
        <td>6 Months</td>
        <td>Rs.11000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>   
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
      </tr>
      <tr>
        <th>C++</th>  
        <td>6 Months</td>
        <td>Rs.12000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th>JavaScript
        </th>  
        <td>6 Months</td>
        <td>Rs.13000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> PHP
        </th>  
        <td>6 Months</td>
        <td>Rs.14000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> Ruby
        </th>  
        <td>6 Months</td>
        <td>Rs.15000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> Go
        </th>  
        <td>6 Months</td>
        <td>Rs.10000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> C#
        </th>  
        <td>6 Months</td>
        <td>Rs.11000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> C
        </th>  
        <td>6 Months</td>
        <td>Rs.12000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> R
        </th>  
        <td>6 Months</td>
        <td>Rs.15000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> Swift
        </th>  
        <td>6 Months</td>
        <td>Rs.13000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      <tr>
        <th> Kotlin
        </th>  
        <td>6 Months</td>
        <td>Rs.14000 <button type="button" class="btn btn-warning"><a [routerLink]="['/payment']">Enroll Now</a></button></td>
        <td><button type="button" class="btn btn-danger"><a [routerLink]="['/detail']">About this course</a></button></td>
        
      </tr>
      
      
    </table>
    
    

