.heading{
    color:#ff7200;
}


.form{
    width: 340px; 
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 35px;
 
 }
 
 .form h2{
     width: 220px;
     font-family: sans-serif;
     text-align: center;
     color: #ff7200;
     font-size: 22px;
     background-color: #fff;
     border-radius: 10px;
     margin: 2px
   /*  padding: 8px;*/
 }
 
 .form input{
     width: 240px;
     height: 35px;
     background: transparent;
     border-bottom: 1px solid #ff7200;
     border-top: none;
     border-right: none;
     border-left: none;
     color:#fff;
     font-size: 15px;
     letter-spacing: 1px;
     margin-top: 30px;
     font-family: sans-serif;
 
 }
 
 .form input:focus{
     outline: none;
 }
 
 ::placeholder{
     color: #fff;
     font-family: Arial;
 
 }
 
 .btn{
     width: 240px;
     height: 40px;
     background: #ff7200;
     border: none;
     margin-top: 30px;
     font-size: 18px;
     border-right: 10px;
     cursor: pointer;
     color: #fff;
     transition: 0.4s ease;
 
 }
 
 .btn:hover{
     background: #fff;
     color: #ff7200;
 }
 
 .btn a{
     text-decoration: none;
     color:#000;
     font-weight: bold;
 
 }
 
 .form.link{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     padding-top: 20px;
     text-align: center;
 }
 
 .form.link a{
     text-decoration: none;
     color: #ff7200;
 }