<div class="navbar">
    <div class="icon">
        <h1 class="logo">Bright Academy</h1>
    </div>

</div>
<div class="heading">
<h4>Sign up to enroll in various courses.</h4>
</div>

<div class="form">
    <h2>Login Here</h2>
          <input type="email" name=":email" placeholder="Enter Email Here">
          <input type="password" name="" placeholder="Enter Password Here">
          <button class="btn"><a routerLink="home" rounterLinkActive="active" class="nav-link">Login</a></button>



          <p class="link">Don't have an account<br>
          <!--<a href="html/Registration.html">Sign up</a> here</p>-->
          <a routerLink="create-student" rounterLinkActive="active" class="nav-link">Sign up</a>here</p>
          
          <!--<p class="liw">Log in with</p>-->

    
</div>
